In [1]:
import pandas as pd

In [2]:
TRANSACTIONS_DATA_PATH = '../data/transactions.csv'

In [ ]:
with open(TRANSACTIONS_DATA_PATH) as f:
    print(f)

In [3]:
df_transactions = pd.read_csv(TRANSACTIONS_DATA_PATH)

In [4]:
df_transactions.head()

         id  amount ($)                                        description
0  caqjJtrI       88549  From Liam J. Johnson for Deel, ref 4oJnVOMRLZf...
1  AcwQVVtq       95880  From Olivia Roland Smith for Deel, ref mhH2aFL...
2  N0wJk7Kp       56834  From 杨陈 for Deel, ref 0Ckil9BX0zXMACC//1474884...
3  RAZbbmLX       98237  Transfer from Emma Brown for Deel, ref kKx5IWy...
4  bIzmL3pD       82977  From Oliver Talor for Deel, ref zMpiWFssuC1sAC...

Trying to identify common ways where names are spelled different from what is shown in the users data file, I observed the following cases:

- Names are written in different cases (upper, lower, mixed)
- Middle name is included in the name in some cases (sometimes in users files, other times in transactions files), and these possibly represent the same person
- Middle name is different in users file and transactions file. For example: Olivia Roland Smith (transactions) and Olivia North Smith (users). Are these the same person?
- Names in different charsets. 
    - Chinese: 
        - The name 杨陈 (transactions) and Yang Chen (users). 
    - Greek: 
        - The name Αλέξανδρος Μπέικερ (transactions) and Alexander Baker (users) may be the same person.
        - The person Ἄλεξις Ava Anderson (transactions) and Alexis Anderson (users) may be the same person.
    - Hebrew:
        - אֲבִיגַיִל גרין (transactions) and Abigail Green (users) may be the same person.
- Random punctuation marks in names. For example !Isabel Wilson (transactions) and Isabel Wilson (users). 
- Random Spaces in names. From Elijah    Thomas for Deel, Hen ry Hill for Deel
- Random numbers in names. Harper580Adams, Michael 60413 Moore
- Names in leet writing (Ellie L0NG)
- Random diacritics in names (Évèlyn Allèn Jr.)
- Random special characters in names (Matthe';w Ki|ng)
- Misspelled names  Davd # Carter
- Broken up names Andrew Richar dson
- Text with no name in transactions

All IDs, descriptions and values are Unique

In [20]:
df_transactions.id.dropna().is_unique

True

In [21]:
df_transactions.description.dropna().is_unique

True

In [22]:
# No transactions have the exact same value, which almost certainly indicates there are no duplicate transactions.
df_transactions[df_transactions['amount ($)'].duplicated(keep=False)]

Empty DataFrame
Columns: [id, amount ($), description]
Index: []