In [33]:
import pandas as pd
from thefuzz import fuzz
from thefuzz import process
USERS_DATA_PATH = '../../data/users_clean.csv'
TRANSACTIONS_DATA_PATH = '../../data/transactions_clean.csv'

In [34]:
df_users = pd.read_csv(USERS_DATA_PATH)
df_transactions = pd.read_csv(TRANSACTIONS_DATA_PATH)

In [35]:
name_to_search = df_users['name'].iloc[1]
print(name_to_search)

sophia cork

In [36]:
def calculate_confidence_score (transaction_text, name):
    return fuzz.token_set_ratio(name, transaction_text)

In [52]:
df_transactions['confidence'] = df_transactions['description'].apply(calculate_confidence_score, name="james l coleman")

In [53]:
df_transactions[df_transactions['confidence'] > 60]

          id  amount ($)      description  confidence
48  WfBC5iDR       64857  richard coleman          64
92  Flmxgl6m       53048  james k coleman          93
93  kAHSbQVZ       41438    coleman ellie          71

In [60]:
filtered_df = df_transactions[df_transactions['confidence'] > 60]

In [62]:
list(zip(filtered_df.id, filtered_df.confidence))

[('WfBC5iDR', 64), ('Flmxgl6m', 93), ('kAHSbQVZ', 71)]

In [63]:
confidence = df_transactions['description'].apply(calculate_confidence_score, name="james l coleman")

In [64]:
print(confidence)

0     34
1     35
2     33
3     32
4     37
      ..
95    13
96    36
97    22
98    25
99    20
Name: description, Length: 100, dtype: int64