In [1]:
import pandas as pd
USERS_DATA_PATH = '../../data/users.csv'

Checking the Encoding on data file, using windows cp1252 charset.
I have noticed that there may be some users with names that include special characters. One of the examples is Μarιa Perikleous, a greek name that uses the greek letters Μ and ι

In [3]:
with open(USERS_DATA_PATH) as f:
    print(f)

<_io.TextIOWrapper name='../data/users.csv' mode='r' encoding='cp1252'>

In [4]:
df_users = pd.read_csv(USERS_DATA_PATH)

In [5]:
df_users.tail()

             id              name
96   Yt4Ppnjbpw  Christopher Ward
97   Z5Zh6jVQaB        Lily Kelly
98   ZjCI84CW6U     Bella Bennett
99   Zq05LEibbQ       Ross Joshua
100   Qg12EWasd  Μarιa Perikleous

The users IDs are all different but there is one user with the same name. We do not know if these IDs refer to the same user or not. We will assume that they are different users.

In [10]:
df_users.name.dropna().is_unique

False

In [11]:
df_users.id.dropna().is_unique

True

In [17]:
df_users[df_users.name.duplicated(keep=False)] # Dataframe filtering with rule where we check for duplicated in a pandas series.

            id             name
72  ToAD2rzvGA  Isabella Wilson
81  VfY9DmIkiL  Isabella Wilson

Details about users:

    - There is one user without a name
    - Some users have middle name, others middle name letter, others no middle name
    - The user Audrey (crHOEW9iLZ) only has one name
    - Some users have their names altogether, for example AuroraPowell (i52RbjL6om)
    - The user with the name Isaac Bell Deel and Daniel Deel, we must be sure if Deel is his actual surname or if it was an input error on the Deel system, including company name. (6fc89iJwho and FhRDVhmleA). This may also be a problem for our text matching algorithm. Same with Andrew Rodeel. (Hl7n5MGoJo)
    - There may be some mispelled names. Is Penelop a mispelling of Penelope? (7wgTardvTI). Same with Andrw Richardson (qBCElYF454)
    - One user has special characters in its name, Μarιa Perikleous (Qg12EWasd)
    - There are two users with the same name and different IDs, Isabella Wilson (ToAD2rzvGA and VfY9DmIkiL)